@color-primary: #1890ff;
@color-warning: yellow;
@color-dark: #2d3436;
@color-light: #fff;
@color-grey: #ddd;

@color-dark-1: #353b48;

@color-blue-1: #79c3d2;
@color-blue-2: #d9eef2;
@color-blue-3: #143352;
@color-blue-4: #c7ecee;
@color-blue-5: #0984e3;

@color-orange-1: #eccc68;
@color-orange-2: #f6e58d;

@color-pink-1: #ffcccc;

@color-green-1: #b8e994;

@font-size-tiny: 12px;
@font-size-small: 14px;
@font-size-base: 16px;
@font-size-large: 18px;
@font-size-huge: 20px;

@offset-tiny: 5px;
@offset-small: 10px;
@offset-base: 20px;
@offset-large: 30px;
@offset-huge: 40px;

@z-index-main: 800;
@z-index-sidebar: 900;
@z-index-contextmenu: 10000;

/* components */

@nav-height: 42px;
@nav-color: @color-light;
@nav-bg: @color-dark-1;
@nav-border-color: @color-blue-1;
@nav-font-size: @font-size-large;

@main-bg: @color-blue-2;
@main-item-bg: @color-light;
@main-padding: 0;
@main-item-margin: @offset-base;
@file-padding: 0 @offset-base;

@input-outline-color: @color-blue-1;

@sidebar-width: 250px;
@sidebar-fold-width: 0;
@sidebar-bg: @color-light;
@sidebar-color: @color-blue-3;
@sidebar-hover-bg: @color-primary;
@sidebar-hover-color: @color-light;
@sidebar-active-bg: @color-blue-4;
@sidebar-active-color: @color-blue-3;
@sidebar-shadow: 0 3px 10px #ccc;

@contextmenu-bg: @color-dark-1;
@contextmenu-color: @color-light;
@contextmenu-hover: @color-primary;

@scrollbar-color: @color-blue-1;
@scrollbar-bg: @color-blue-2;
